<% if cat.persisted? %>
  <% action_url = cat_url(cat)%>
  <% method = "PATCH" %>
  <% button_val = "Update Cat" %>
<% else %>
  <% action_url = cats_url %>
  <% method = "POST" %>
  <% button_val = "Add Cat" %>
<% end %>

<form action="<%= action_url %>" method="post">


  <input type="hidden" name="_method" value="<%= method %>">

  <label for="name">Name</label>
  <input id="name" type="text" name="cat[name]" value="<%= @cat.name %>">

  <br>

  <label for="sex">Sex</label>
  <% if @cat.sex == 'M' %>
    M <input type="radio" name="cat[sex]" value="M" checked = "true">
    F <input type="radio" name="cat[sex]" value="F">
  <% else %>
    M <input type="radio" name="cat[sex]" value="M">
    F <input type="radio" name="cat[sex]" value="F" checked = "true">
  <% end %>

  <br>

  <label for="color">Color</label>
  <select id="color" name="cat[color]">
    <option value="Select Color" disabled="true" <%= @cat.color ? "" : "selected"%> >Select Color</option>
    <option value="grey" <%= @cat.color == 'grey' ? "selected" : "" %> >grey</option>
    <option value="black" <%= @cat.color == 'black' ? "selected" : "" %> >black</option>
    <option value="white" <%= @cat.color == 'white' ? "selected" : "" %> >white</option>
    <option value="calico" <%= @cat.color == 'calico' ? "selected" : "" %> >calico</option>
  </select>

  <br>

  <label for="birth_date">Birthday</label>
  <input id="birth_date" type="date" name="cat[birth_date]" value="<%= @cat.birth_date %>">

  <br>

  <label for="description">Description</label>
    <textarea name="cat[description]">
      <%= @cat.description %>
    </textarea>

  <br>

    <input type="submit" value="<%= button_val %>">

</form>
