<h3><%= @cat.name %></h3>
<!-- <ul>
  <li>
    Color: <%#= @cat.color %>
  </li>
  <li>
    Sex: <%#= @cat.sex %>
  </li>
  <li>
    Birthday: <%#= @cat.birth_date %>
  </li>
  <li>
    Age: <%#= @cat.age %>
  </li>
  <li>
    Description: <%#= @cat.description %>
  </li>
</ul> -->

<style>
table, th, td {
    border: 1px solid black;
}
</style>

<table style="width:50%">
  <thead>
    <tr>
      <th>Color</th>
      <th>Sex</th>
      <th>Birthday</th>
      <th>Age</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @cat.color %></td>
      <td><%= @cat.sex %></td>
      <td><%= @cat.birth_date %></td>
      <td><%= @cat.age %></td>
      <td><%= @cat.description %></td>
    </tr>
  </tbody>
</table>

<h4>Rentals</h4>
<table style="width:50%">
  <thead>
    <tr>
      <th>Start Date</th>
      <th>End Date</th>
    </tr>
  </thead>
  <tbody>
    <% @cat.cat_rental_requests.order(:start_date).each do |request| %>
      <tr>
        <td> <%= request.start_date %> </td>
        <td> <%= request.end_date %> </td>
      </tr>
    <% end %>
  </tbody>
</table>
